body {
  margin: 0;
}

main {
  width: 100%;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 50px;
  height: 120px;
  font-size: 18px;
}
.logo {
  margin: 20px 0 20px 40px;
  padding: 20px 10px;
}
.nav-menu-container {
  width: 35%;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  color: var(--first-text-color);
}
.nav-menu li {
  transition: all 0.3s ease-out;
  border-radius: 50px;
}
.nav-menu li:hover {
  background-color: var(--first-text-color);
  color: white;
  padding: 10px;
}
.nav-button {
  margin: 33px 40px 33px 0px;
  color: var(--primary-color);
  border-radius: 85px;
  text-decoration: none;
  border: 1px solid var(--primary-color);
  padding: 20px 36px;
}
.nav-button:hover,
.nav-button:focus {
  background-color: var(--primary-color);
  color: white;
}
.background-page {
  height: 900px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(100, 217, 226, 1) 40%,
    rgba(89, 214, 224, 1) 47%,
    rgba(89, 214, 224, 1) 53%,
    rgba(100, 217, 226, 1) 60%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 100%;
  position: absolute;
  z-index: -1;
  display: flex;
  overflow: hidden;
}
.ocean-vector {
  position: absolute;
  left: -400px;
}
.yellow-2-vector {
  position: absolute;
  right: 0px;
  top: 200px;
  transform: translateX(50%);
}
.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-heading {
  font-size: 68px;
  text-align: center;
  color: var(--secondary-color);
  width: 510px;
  height: 170px;
  margin: 54px 0 0 0;
}
.main-description {
  font-size: 18px;
  width: 350px;
  height: 96px;
  margin: auto;
  text-align: center;
  color: var(--second-text-color);
}
.main-buttons {
  width: 410px;
  height: 50px;
  font-size: 14px;

  text-align: center;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main-buttons a {
  text-decoration: none;
  padding: 6px 36px;
  border: 1px solid var(--light-background-color);
  background-color: var(--light-background-color);
  border-radius: 60px;
  color: var(--first-text-color);
}
.main-buttons a:hover,
.main-buttons a:focus {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--light-background-color);
}
.dashboard-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 38px;
  overflow-x: hidden;
}
.dashboard-image-wrapper {
  box-shadow: 5px 0 10px #979797, -5px 0 10px #979797;
  width: 80%;
}
.circle {
  width: 12px;
  height: 12px;
  background-color: #c4c6ca;
  border-radius: 180px;
}
.white-rectangle {
  width: 85%;
  height: 20px;
  background-color: var(--light-background-color);
  border-radius: 3px;
}
.grey-bar {
  width: 100%;
  height: 53px;
  background-color: #979797;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 3px;
}

.dashboard {
  width: 100%;
  height: auto;
  display: block;
}
.more-info {
  text-align: center;
  padding: 60px 0;
}
.just-type {
  color: var(--secondary-yellow-color);
  font-size: 36px;
}
.heading {
  font-size: 42px;
  color: var(--first-text-color);
}
.more-info-buttons {
  padding: 10px 0;
}
.more-info-buttons a {
  text-decoration: none;
  padding: 6px 40px;
  border: 2px solid var(--primary-color);
  background-color: var(--light-background-color);
  border-radius: 60px;
  color: var(--primary-color);
}
.more-info-buttons a:hover,
.more-info-buttons a:focus {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--light-background-color);
}

.description-part {
  padding: 60px 0;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.blue-vector {
  position: absolute;
  z-index: -1;
  right: 0px;
  top: 0;
  transform: translateX(40%);
  height: 95%;
}
.section-description {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

.smaller-heading {
  color: var(--first-text-color);
  font-size: 36px;
}
.picture-description,
.picture-description-2 {
  font-size: 18px;
  width: 350px;
  height: 96px;
  margin: auto;
  text-align: left;
  color: var(--second-text-color);
}
.dive-into-button {
  color: var(--primary-color);
  font-size: 18px;
}
.laptop,
.code-image {
  width: 50%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0px 3px 5px #979797;
}
.yellow-vector {
  position: absolute;
  z-index: -1;
  top: 0;
  transform: translateX(-20%);
  height: 95%;
}
.picture-description-2 {
  width: 240px;
}
.more-info-description {
  color: var(--second-text-color);
  font-size: 17px;
}
.statistics-part {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.statistics-bar-grey {
  width: 50%;
  height: 15px;
  background-color: #f3f5f8;
  border-radius: 10px;
  margin-top: 40px;
  position: relative;
}
.statistics-bar-blue {
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  border-radius: 10px;
}
.statistics {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.number {
  color: #505d70;
  font-size: 12px;
  margin: 0 0 30px 0;
  padding: 10px 0;
}
.facebook {
  font-size: 12px;
  color: #505d6f;
  margin: 0 0 30px 0;
  padding: 10px 0;
}
