@font-face {
  font-family: myFirstFont;
  src: url(./fonts/circular-std-bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: myFirstFont;
  src: url(./fonts/circular-std-medium.ttf);
  font-weight: normal;
}

body {
  font-family: myFirstFont;
  --primary-color: #00b6f0;
  --first-text-color: #20262a;
  --secondary-color: #112d57;
  --second-text-color: #5c5c5c;
  --light-background-color: #ffffff;
  --secondary-yellow-color: #f3cd03;
  --dark-background-color: #182333;
}
